<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//main.css') }}">
    <title>Уточка для удачного дня</title>
</head>
<body>
<div class="topnav">
    <a href="/">Главная страница</a>
    <a class=active href="/duck/">Рандомная уточка</a>
    <a href="/fox/<int:count>/">Рандомная лисичка</a>
</div>
<h1>Уточка для удачного дня номер</h1>
<h2>{{ numb }}</h2>
<img src="{{ img }}" alt="здесь была утка">
</body>
</html>