<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//main.css') }}">
    <title>Форма для регистрации</title>
</head>
<body>
<form>
    <label>Регистрация</label>
    <input type="text" placeholder="имя"><br>
    <input type="text" placeholder="фамилия"><br>
    <input type="text" placeholder="логин"><br>
    <input type="password" placeholder="пароль"><br>
    <input type="text" placeholder="возраст"><br>
</form>

</body>
</html>