<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    table,
    table * {
      border: 1px solid #000;
      text-align: center;
    }
    </style>
</head>
<body>
<header></header>
<main>
    <section><h1>Joy of T<sub>E</sub>X</h1></section>
    <section>
        <p><big>Евгений Евтушенко</big></p>
        <pre>
                     -1955-
            Бывало, спит у ног собака,
            костер занявшийся гудит,
            и женщина из полумрака
            глазами зыбкими глядит.

            Потом под пихтами приляжет
            на куртку рыжую мою
            и мне,
               задумчивая,
                        скажет:
            "А ну-ка спой!.." -
                           и я пою.
        </pre>
    </section>
    <section>
        <p>Добыча драгоценных камней</p>
        <table>
            <tr>
                <td></td>
                <th>2010</th>
                <th>2012</th>
                <th>2014</th>
            </tr>
            <tr>
                <td>Сапфиры</td>
                <td rowspan="2">1483</td>
                <td>4532</td>
                <td>6743</td>
            </tr>
            <tr>
                <td>Рубины</td>
                <td>3835</td>
                <td>7482</td>
            </tr>
            <tr>
                <td>Алмазы</td>
                <td>683</td>
                <td colspan="2">238</td>
            </tr>
        </table>
        <p></p>
        <table>
            <tr>
                <th>Название</th>
                <th>Цвет</th>
                <th>Твердость по Моосу</th>
                <th>Формула</th>
            </tr>
            <tr>
                <td>Алмаз</td>
                <td>Белый</td>
                <td>10</td>
                <td>С</td>
            </tr>
            <tr>
                <td>Рубин</td>
                <td>Красный</td>
                <td>9</td>
                <td>Al<sub>2</sub>O<sub>3</sub></td>
            </tr>
            <tr>
                <td>Аметист</td>
                <td>Голубой</td>
                <td>7</td>
                <td>SiO<sub>2</sub></td>
            </tr>
            <tr>
                <td>Изумруд</td>
                <td>Зеленый</td>
                <td>8</td>
                <td>Be<sub>3</sub>Al<sub>2</sub>(SiO<sub>3</sub>)<sub>6</sub></td>
            </tr>
            <tr>
                <td>Сапфир</td>
                <td>Голубой</td>
                <td>9</td>
                <td>Al<sub>2</sub>O<sub>3</sub></td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Карта сокровищ</h3>
        <hr width="900">
        <img src="https://img.freepik.com/premium-vector/map-treasures-paper-parchment_8071-3421.jpg"><br>
        <label for="file">Пройдено:</label>
        <progress id="file" max="100" value="60"></progress>
        <hr width="900">
    </section>
    <section>
        <h3>Химические элементы</h3>
        <table>
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Символ</th>
                <th>Год</th>
                <th>Статья</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="">Водород</a></td>
                <td>H</td>
                <td>1766</td>
                <td><img src="https://img.icons8.com/?size=100&id=14077&format=png&color=000000"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="">Гелий</a></td>
                <td>He</td>
                <td>1895</td>
                <td><img src="https://img.icons8.com/?size=100&id=14077&format=png&color=000000"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="">Бор</a></td>
                <td>B</td>
                <td>1808</td>
                <td><img src="https://img.icons8.com/?size=100&id=14077&format=png&color=000000"></td>
            </tr>
        </table>
    </section>
    <section>
        <ul>
            <li>Цвета
                <ul>
                    <li>Color Mixers</li>
                    <li>Color Tester</li>
                    <li>Color Pallete</li>
                </ul>
            </li>
            <li>Фавиконки
                <ol>
                    <li>Favicon.cc
                        <ul>
                            <li><a href="">Скачать</a></li>
                            <li><a href="">Демо</a></li>
                        </ul>
                    </li>
                    <li>WebLab Favicon</li>
                </ol>
            </li>
            <li>Фоны
                <ul>
                    <li>BgMaker</li>
                    <li>StripeGenerator</li>
                </ul>
            </li>
            <li>Изображения
                <ol>
                    <li>Buttonator</li>
                    <li>AjaxLoad</li>
                </ol>
            </li>
        </ul>
    </section>
    <section>
        <h3>Стихотворение</h3>
        <p></p>
        <pre>
            Мириады маленьких дел
            Пьют по капле гаснущий день,
            А <i>дела большие</i> сушит жажда.
            Оставляя все на "потом",
            Прозреваем задним числом,
            Только день <b>не повторится</b> дважды.

            И.Тальков
        </pre>
    </section>
    <section>
        <h1>Заголовок первого уровня</h1>
        <h2>Заголовок второго уровня</h2>
        <h3>Заголовок третьего уровня</h3>
        <h4>Пример ссылки <a href="">ведущей на другую страницу</a></h4>
    </section>
    <section>
        <form name="form">
            <label for="week">Неделя</label>
            <input type="week" id="week"><br>
            <label for="date_time">Дата и время</label>
            <input type="datetime-local" id="date_time"><br>
            <label for="month">Месяц</label>
            <input type="month" id="month"><br>
            <label for="time">Время</label>
            <input type="time" id="time"><br>

            <button type="submit">Отправить</button>
        </form>
    </section>
    <p></p>
    <section>
        <form name="zoo">
            <label><b>Форма заявки на работу в зоопарке</b></label>
            <p><i>Пожалуйста, заполните форму. Обязательные поля помечены *</i></p>
            <fieldset>
                <legend>Контактная информация</legend>

                <label for="name">Имя</label>
                <input type="text" id="name"><br>
                <label for="phone">Телефон</label>
                <input type="tel" id="phone"><br>
                <label for="email">Email</label>
                <input type="email" id="email"><br>
            </fieldset>
            <fieldset>
                <legend>Персональная информация</legend>
                <label for="age">Возраст</label>
                <input type="text" id="age"><br>
                <label for="pol">Пол</label>
                <select id="pol">
                  <option value="Femail">Женщина</option>
                  <option value="Mail">Мужчина</option>
                </select><br>
                <label for="text_pers">Перечислите личные качества</label>
                <textarea rows="10" cols="25" name="text" id="text_pers"></textarea><br>

            </fieldset>
        </form>

    </section>
</main>
<footer></footer>
</body>
</html>