<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//main.css') }}">
    <title>Вход на сайт</title>
</head>
<body>
    <nav class="topnav">
        <a href="/reg_user/">Регистрация</a>
        <a href="/login/">Вход</a>
    </nav>
    <div>
        <form>
            <p>
                <label>Логин</label>
                <input type="text" placeholder="login">
            </p>
            <p>
                <label>Пароль</label>
                <input type="password" placeholder="password">
            </p>
        </form>
    </div>
</body>
</html>